* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27374D;
    color: #FCFDFD;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
}

#game {
    border: 1px solid #FCFDFD;
}